In [8]:
url = 'http://ergast.com/api/f1/drivers.json'

In [9]:
import requests

response = requests.get(url)

In [12]:
data = response.json()

In [17]:
import pandas as pd

In [19]:
pd.DataFrame(data['MRData']['DriverTable']['Drivers']).style

In [ ]:
da

In [2]:
import pandas as pd