# Creating new columns in DataFrame

In [1]:
import os

os.environ['ESIOS_API_KEY'] = '273695bb4f30b8ab8de054a0410ee2a9d09c97a5006e3a07c27615e6c60888a7'

In [2]:
from esios import ESIOSClient

client = ESIOSClient()
endpoint = client.endpoint(name='indicators')

In [3]:
df = endpoint.list()
df

,name,description,short_name,id
0,Generación programada PBF Hidráulica UGH,"Es el programa de energía diario, con desglose...",Hidráulica UGH,1
1,Generación programada PBF Hidráulica no UGH,"Es el programa de energía diario, con desglose...",Hidráulica no UGH,2
...,...,...,...,...
1943,RD-L 10/2022 restricciones técnicas y mercados...,RD-L 10/2022 restricciones técnicas y mercados...,Mercado diario e intradiario,10411
1944,Precio medio ponderado de activación del servi...,Es un servicio específico de balance del sist...,Precio medio ponderado de activación del servi...,10412

- spot:
    - precio: 600
    - energia: 602

In [14]:
indicator_id = 602
indicator = endpoint.select(indicator_id)
df = indicator.historical(start='2022-01-01', end='2022-12-31')
df

                               602  geo_id   geo_name
datetime
2022-01-01 00:00:00+01:00  14963.8    8741  Península
2022-01-01 01:00:00+01:00  14967.8    8741  Península
...                            ...     ...        ...
2022-12-31 22:00:00+01:00  14964.2    8741  Península
2022-12-31 23:00:00+01:00  14875.1    8741  Península

[8760 rows x 3 columns]

In [15]:
s = df[indicator_id]
s.name = 'energy'
s

datetime
2022-01-01 00:00:00+01:00    14963.8
2022-01-01 01:00:00+01:00    14967.8
                              ...
2022-12-31 22:00:00+01:00    14964.2
2022-12-31 23:00:00+01:00    14875.1
Name: energy, Length: 8760, dtype: float64

In [16]:
s.to_frame().to_parquet(f'../files/{indicator_id}.parquet')

In [18]:
indicator_id = 600
indicator = endpoint.select(indicator_id)
df = indicator.historical(start='2022-01-01', end='2022-12-31', geo_ids=[3])
df

                              600  geo_id geo_name
datetime
2022-01-01 00:00:00+01:00  145.86       3   España
2022-01-01 01:00:00+01:00  114.90       3   España
...                           ...     ...      ...
2022-12-31 22:00:00+01:00    1.88       3   España
2022-12-31 23:00:00+01:00    0.10       3   España

[8760 rows x 3 columns]

In [19]:
s = df[indicator_id]
s.name = 'price'
s

datetime
2022-01-01 00:00:00+01:00    145.86
2022-01-01 01:00:00+01:00    114.90
                              ...
2022-12-31 22:00:00+01:00      1.88
2022-12-31 23:00:00+01:00      0.10
Name: price, Length: 8760, dtype: float64

In [21]:
s.to_frame().to_parquet(f'../files/{indicator_id}.parquet')