In [18]:
import pandas as pd

path = '../files/600.parquet'
df_600 = pd.read_parquet(path)

path = '../files/602.parquet'
df_602 = pd.read_parquet(path)

In [19]:
df = pd.concat([df_600, df_602], axis=1)

In [20]:
df.sort_index()

                            price   energy
datetime
2022-01-01 00:00:00+01:00  145.86  14963.8
2022-01-01 01:00:00+01:00  114.90  14967.8
...                           ...      ...
2022-12-31 22:00:00+01:00    1.88  14964.2
2022-12-31 23:00:00+01:00    0.10  14875.1

[8760 rows x 2 columns]

In [21]:
df = df.tz_localize(None)

In [22]:
df.to_parquet('../files/2022.parquet')