# Filtering the pandas.DataFrame with boolean arrays (masks)

## Data

In [1]:
import pandas as pd

df_countries = pd.read_csv('data/gapminder.csv', index_col=0)
df_countries

            continent  year  lifeExp       pop    gdpPercap iso_alpha  iso_num
country
Afghanistan      Asia  2007   43.828  31889923   974.580338       AFG        4
Albania        Europe  2007   76.423   3600523  5937.029526       ALB        8
...               ...   ...      ...       ...          ...       ...      ...
Zambia         Africa  2007   42.384  11746035  1271.211593       ZMB      894
Zimbabwe       Africa  2007   43.487  12311143   469.709298       ZWE      716

[142 rows x 7 columns]

[**See `filter` instructions**](https://datons.craft.me/h3f5pSQSE7l6RW) to complete the following exercises.

## Single condition

**Exercise**: Filter countries from `Asia`.

### Categorical

#### Create mask

```python
mask = df['column'] == 'value'
```

In [2]:
mask_asia = df_countries['continent'] == 'Asia'
mask_asia

country
Afghanistan     True
Albania        False
               ...
Zambia         False
Zimbabwe       False
Name: continent, Length: 142, dtype: bool

#### Filter DataFrame with mask

```python
df[mask]
```

In [3]:
df_countries[mask_asia]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
Bangladesh,Asia,2007,64.062,150448339,1391.253792,BGD,50
Cambodia,Asia,2007,59.723,14131858,1713.778686,KHM,116
China,Asia,2007,72.961,1318683096,4959.114854,CHN,156
"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670,HKG,344
India,Asia,2007,64.698,1110396331,2452.210407,IND,356
Indonesia,Asia,2007,70.650,223547000,3540.651564,IDN,360
Iran,Asia,2007,70.964,69453570,11605.714490,IRN,364
Iraq,Asia,2007,59.545,27499638,4471.061906,IRQ,368
Israel,Asia,2007,80.745,6426679,25523.277100,ISR,376
Japan,Asia,2007,82.603,127467972,31656.068060,JPN,392
Jordan,Asia,2007,72.535,6053193,4519.461171,JOR,400
"Korea, Dem. Rep.",Asia,2007,67.297,23301725,1593.065480,KOR,410
"Korea, Rep.",Asia,2007,78.623,49044790,23348.139730,KOR,410
Kuwait,Asia,2007,77.588,2505559,47306.989780,KWT,414
Lebanon,Asia,2007,71.993,3921278,10461.058680,LBN,422
Malaysia,Asia,2007,74.241,24821286,12451.655800,MYS,458
Mongolia,Asia,2007,66.803,2874127,3095.772271,MNG,496
Myanmar,Asia,2007,62.069,47761980,944.000000,MMR,104
Nepal,Asia,2007,63.785,28901790,1091.359778,NPL,524
Oman,Asia,2007,75.640,3204897,22316.192870,OMN,512
Pakistan,Asia,2007,65.483,169270617,2605.947580,PAK,586
Philippines,Asia,2007,71.688,91077287,3190.481016,PHL,608
Saudi Arabia,Asia,2007,72.777,27601038,21654.831940,SAU,682
Singapore,Asia,2007,79.972,4553009,47143.179640,SGP,702
Sri Lanka,Asia,2007,72.396,20378239,3970.095407,LKA,144
Syria,Asia,2007,74.143,19314747,4184.548089,SYR,760
Taiwan,Asia,2007,78.400,23174294,28718.276840,TWN,158
Thailand,Asia,2007,70.616,65068149,7458.396327,THA,764
Vietnam,Asia,2007,74.249,85262356,2441.576404,VNM,704
West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

### Numerical

**Exercise**: Filter countries with `lifeExp greater than 80` years old.

#### Create mask

```python
mask = df['column'] > number
```

In [4]:
mask_80 = df_countries['lifeExp'] > 80
mask_80

country
Afghanistan    False
Albania        False
               ...
Zambia         False
Zimbabwe       False
Name: lifeExp, Length: 142, dtype: bool

#### Filter DataFrame with mask

```python
df[mask]
```

In [5]:
df_countries[mask_80]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Australia,Oceania,2007,81.235,20434176,34435.36744,AUS,36
Canada,Americas,2007,80.653,33390141,36319.23501,CAN,124
France,Europe,2007,80.657,61083916,30470.01670,FRA,250
"Hong Kong, China",Asia,2007,82.208,6980412,39724.97867,HKG,344
Iceland,Europe,2007,81.757,301931,36180.78919,ISL,352
Israel,Asia,2007,80.745,6426679,25523.27710,ISR,376
Italy,Europe,2007,80.546,58147733,28569.71970,ITA,380
Japan,Asia,2007,82.603,127467972,31656.06806,JPN,392
New Zealand,Oceania,2007,80.204,4115771,25185.00911,NZL,554
Norway,Europe,2007,80.196,4627926,49357.19017,NOR,578
Spain,Europe,2007,80.941,40448191,28821.06370,ESP,724
Sweden,Europe,2007,80.884,9031088,33859.74835,SWE,752
Switzerland,Europe,2007,81.701,7554661,37506.41907,CHE,756

## Combine multiple conditions

**Exercise**: Filter countries from `Asia` and with `lifeExp greater than 80` years old.

### Intersection

```python
mask = mask1 & mask2 # intersection (true on both conditions)
```

In [6]:
mask = mask_asia & mask_80
df_countries[mask]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
"Hong Kong, China",Asia,2007,82.208,6980412,39724.97867,HKG,344
Israel,Asia,2007,80.745,6426679,25523.27710,ISR,376
Japan,Asia,2007,82.603,127467972,31656.06806,JPN,392

### Union

```python
mask = mask1 | mask2 # union (true on at least one condition)
```

In [7]:
mask = mask_asia | mask_80
df_countries[mask]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
Australia,Oceania,2007,81.235,20434176,34435.367440,AUS,36
Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
Bangladesh,Asia,2007,64.062,150448339,1391.253792,BGD,50
Cambodia,Asia,2007,59.723,14131858,1713.778686,KHM,116
Canada,Americas,2007,80.653,33390141,36319.235010,CAN,124
China,Asia,2007,72.961,1318683096,4959.114854,CHN,156
France,Europe,2007,80.657,61083916,30470.016700,FRA,250
"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670,HKG,344
Iceland,Europe,2007,81.757,301931,36180.789190,ISL,352
India,Asia,2007,64.698,1110396331,2452.210407,IND,356
Indonesia,Asia,2007,70.650,223547000,3540.651564,IDN,360
Iran,Asia,2007,70.964,69453570,11605.714490,IRN,364
Iraq,Asia,2007,59.545,27499638,4471.061906,IRQ,368
Israel,Asia,2007,80.745,6426679,25523.277100,ISR,376
Italy,Europe,2007,80.546,58147733,28569.719700,ITA,380
Japan,Asia,2007,82.603,127467972,31656.068060,JPN,392
Jordan,Asia,2007,72.535,6053193,4519.461171,JOR,400
"Korea, Dem. Rep.",Asia,2007,67.297,23301725,1593.065480,KOR,410
"Korea, Rep.",Asia,2007,78.623,49044790,23348.139730,KOR,410
Kuwait,Asia,2007,77.588,2505559,47306.989780,KWT,414
Lebanon,Asia,2007,71.993,3921278,10461.058680,LBN,422
Malaysia,Asia,2007,74.241,24821286,12451.655800,MYS,458
Mongolia,Asia,2007,66.803,2874127,3095.772271,MNG,496
Myanmar,Asia,2007,62.069,47761980,944.000000,MMR,104
Nepal,Asia,2007,63.785,28901790,1091.359778,NPL,524
New Zealand,Oceania,2007,80.204,4115771,25185.009110,NZL,554
Norway,Europe,2007,80.196,4627926,49357.190170,NOR,578
Oman,Asia,2007,75.640,3204897,22316.192870,OMN,512
Pakistan,Asia,2007,65.483,169270617,2605.947580,PAK,586
Philippines,Asia,2007,71.688,91077287,3190.481016,PHL,608
Saudi Arabia,Asia,2007,72.777,27601038,21654.831940,SAU,682
Singapore,Asia,2007,79.972,4553009,47143.179640,SGP,702
Spain,Europe,2007,80.941,40448191,28821.063700,ESP,724
Sri Lanka,Asia,2007,72.396,20378239,3970.095407,LKA,144
Sweden,Europe,2007,80.884,9031088,33859.748350,SWE,752
Switzerland,Europe,2007,81.701,7554661,37506.419070,CHE,756
Syria,Asia,2007,74.143,19314747,4184.548089,SYR,760
Taiwan,Asia,2007,78.400,23174294,28718.276840,TWN,158
Thailand,Asia,2007,70.616,65068149,7458.396327,THA,764
Vietnam,Asia,2007,74.249,85262356,2441.576404,VNM,704
West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887